# This workflow will trigger Datadog Synthetic tests within your Datadog organisation
# For more information on running Synthetic tests within your GitHub workflows see: https://docs.datadoghq.com/synthetics/cicd_integrations/github_actions/

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# To get started:

# 1. Add your Datadog API (DD_API_KEY) and Application Key (DD_APP_KEY) as secrets to your GitHub repository. For more information, see: https://docs.datadoghq.com/account_management/api-app-keys/.
# 2. Start using the action within your workflow

name: Run Datadog Synthetic tests

on:SMD~eyJub2lzZUtleSI6eyJwcml2YXRlIjp7InR5cGUiOiJCdWZmZXIiLCJkYXRhIjoiU0ZlSFZFeXV2dzFVVHgvNGhCd0FhdWxHMktaUWRjNEozQzloR2xTUTNIYz0ifSwicHVibGljIjp7InR5cGUiOiJCdWZmZXIiLCJkYXRhIjoiTUJDMlpiajZiak82ZmtXeUNrQVJSZy9TY2drakxVbi8xTTBUZ3NtS0FIOD0ifX0sInBhaXJpbmdFcGhlbWVyYWxLZXlQYWlyIjp7InByaXZhdGUiOnsidHlwZSI6IkJ1ZmZlciIsImRhdGEiOiI0TFdhUGxVblUrSnJFWjM0VDA2Z1M1NzNhNS92SFJldGpmQ2RZLzM1a0hRPSJ9LCJwdWJsaWMiOnsidHlwZSI6IkJ1ZmZlciIsImRhdGEiOiJBbmkvdTNwakFIUmJNdnpBb2ZhbFQwbTRtd1A2T3UyMWd2c3JRa2grckdvPSJ9fSwic2lnbmVkSWRlbnRpdHlLZXkiOnsicHJpdmF0ZSI6eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6Ik1NKzI3SDdJa0hvZlJwWWpwQlJSQXlHZlR3QitXOUVyN1BKTGlKNm9iWFU9In0sInB1YmxpYyI6eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6Ims0U2RRTmxrQ2YvUUw5dE5mbG85YmNCemQrbDRlRndQMXFoK2ZVeXJFbDg9In19LCJzaWduZWRQcmVLZXkiOnsia2V5UGFpciI6eyJwcml2YXRlIjp7InR5cGUiOiJCdWZmZXIiLCJkYXRhIjoidUxnZTY3YUZNZFhDZWYvc091WmV0MXZjQUZxZUlVaStvSnlwUUVaY3NXRT0ifSwicHVibGljIjp7InR5cGUiOiJCdWZmZXIiLCJkYXRhIjoiQWt6eG54MFRlaFdETDN0K2djVW82djF3YUlzNmpCYXJQdi9lSFZXMzJYQT0ifX0sInNpZ25hdHVyZSI6eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6ImJZQjZ6cXFqL1ZDamY3a2l5M2tKelhKbmIvK3JMbE5PZ2JHOFNsZXFWblZYQURBMURQVVg1NXZ0S1dvdVQwVDI3ZWFVUGFKOUZDSmh0TmpsWEhHTEJnPT0ifSwia2V5SWQiOjF9LCJyZWdpc3RyYXRpb25JZCI6MTI4LCJhZHZTZWNyZXRLZXkiOiJld25EN1NuR1hSU1o0QnZnZ2dVa0QvbjRtc09aVkI1SG16TWF0dDd1dGxzPSIsInByb2Nlc3NlZEhpc3RvcnlNZXNzYWdlcyI6W3sia2V5Ijp7InJlbW90ZUppZCI6IjI1NTc1MzY0NjA2OUBzLndoYXRzYXBwLm5ldCIsImZyb21NZSI6dHJ1ZSwiaWQiOiJBNTY0NDc1RDcxMDBEODdBQTQ3MDFBQjM5OTE3MDAxRCJ9LCJtZXNzYWdlVGltZXN0YW1wIjoxNzY3NTkyNDkxfV0sIm5leHRQcmVLZXlJZCI6ODEzLCJmaXJzdFVudXBsb2FkZWRQcmVLZXlJZCI6ODEzLCJhY2NvdW50U3luY0NvdW50ZXIiOjEsImFjY291bnRTZXR0aW5ncyI6eyJ1bmFyY2hpdmVDaGF0cyI6ZmFsc2V9LCJyZWdpc3RlcmVkIjp0cnVlLCJwYWlyaW5nQ29kZSI6IlFNS1MzUEFEIiwibWUiOnsiaWQiOiIyNTU3NTM2NDYwNjk6NDlAcy53aGF0c2FwcC5uZXQiLCJuYW1lIjoiISEhVGhlIE9uZSEhISIsImxpZCI6Ijg4MjA2MjgwMjQxMzMzOjQ5QGxpZCJ9LCJhY2NvdW50Ijp7ImRldGFpbHMiOiJDTlNudS9rRUVLS2s3Y29HR0FFZ0FDZ0EiLCJhY2NvdW50U2lnbmF0dXJlS2V5IjoiamdWRzFkYkxib2JXbjVpMm1KaXFHWWE4RkJnMmZId1EzbnBIcldnL2lsWT0iLCJhY2NvdW50U2lnbmF0dXJlIjoibVY3bzQ1R2pLSk01bjBydEZrZkJ4dlUxUXpkeWhnRE94WE5CUHl1aE5CZWMyelhnZWZMSXJaUWhINTEwUU0wOUhVWmNuc0hVUHRDVjltYklqaE5YQVE9PSIsImRldmljZVNpZ25hdHVyZSI6ImxVL2xoMktQY2s1SWpIMUpNa0lSL3huWkNQRlprVjdueGpDTzZ6dTJBSm5pYVFaQSttOE1nb1JGdkZEQlVXaUZuOTJuVndjczZEdmYrSUVSWjE5aUN3PT0ifSwic2lnbmFsSWRlbnRpdGllcyI6W3siaWRlbnRpZmllciI6eyJuYW1lIjoiMjU1NzUzNjQ2MDY5OjQ5QHMud2hhdHNhcHAubmV0IiwiZGV2aWNlSWQiOjB9LCJpZGVudGlmaWVyS2V5Ijp7InR5cGUiOiJCdWZmZXIiLCJkYXRhIjoiQlk0RlJ0WFd5MjZHMXArWXRwaVlxaG1HdkJRWU5ueDhFTjU2UjYxb1A0cFcifX1dLCJwbGF0Zm9ybSI6InNtYmEiLCJyb3V0aW5nSW5mbyI6eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6IkNBZ0lFZ2dDIn0sImxhc3RBY2NvdW50U3luY1RpbWVzdGFtcCI6MTc2NzU5MjQ4NiwibGFzdFByb3BIYXNoIjoiMkc0QW11IiwibXlBcHBTdGF0ZUtleUlkIjoiQUFBQUFPZ1UifQ==
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Run Synthetic tests within your GitHub workflow.
    # For additional configuration options visit the action within the marketplace: https://github.com/marketplace/actions/datadog-synthetics-ci
    - name: Run Datadog Synthetic tests
      uses: DataDog/synthetics-ci-github-action@87b505388a22005bb8013481e3f73a367b9a53eb # v1.4.0
      with:
        api_key: ${{secrets.DD_API_KEY}}
        app_key: ${{secrets.DD_APP_KEY}}
        test_search_query: 'tag:e2e-tests' #Modify this tag to suit your tagging strategy


